body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header, .section-1, .section-2, .section-3, footer {
    padding: 50px 200px;
}

header,
footer {
    background-color: #1F2937;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

/* HEADER SECTION */

header {
    font-size: 18px;
    color: #F9FAF8
}

.header-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 0 0 40px;
}

.lower-header {
    display: flex;
    align-items: center;
}

.lower-header-left {
    padding-right: 50px;
}

.dog {
    width: 250px;
    height: 250px;
}

.header-button {
    background-color: #3882F6;
    color: white;
}

/* SECTION 1 */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-header {
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
}

.all-cards-container {
    display: flex;
    text-align: center;
    gap: 50px;
    flex-wrap: wrap;
}

.card-container {
    height: auto;
    width: 150px;
}

.card {
    height: 150px;
    width: 150px;
    border: 2px solid blue;
    border-radius: 15px;
}

/* SECTION 2 */

.section-2 {
    padding: 100px 300px;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    font-style: italic;
}

.quotation-author {
    text-align: right;
}

/* SECTION 3 */

.section-3-container {
    display: flex;
    padding: 50px ;
    margin: 50px;
    border-radius: 10px;
    background-color: #3882F6;
    color: whitesmoke;
}

.section-3-left > p {
    padding-right: 20px;
}

.section-3-right {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}

.section-3-button {
    background-color: transparent;
    color: whitesmoke;
    border : 2px solid white
}

/* FOOTER */

footer {
    text-align: center;
    color: whitesmoke;
}