body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

header, .section-1, .section-2, .section-3, footer {
    padding: 20px;
    border: 2px solid red;
}

header,
footer {
    background-color: #1F2937;
}
button {
    height: 40px;
    width: 100px;
}

/* HEADER SECTION */

.dog1 { /*image selector*/
    width: 200px;
}

header {
    font-size: 18px;
    color: #F9FAF8
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

.dog2 { /*image selector*/
    width: 350px;
}

.upper-header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding: 0 10px;
}

.lower-header {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

/* SECTION 1 */

.section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1-header {
    margin-bottom: 10px;
}

.cards-container {
    display: flex;
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
}

.card-1-container,
.card-2-container,
.card-3-container,
.card-4-container {
    height: auto;
    width: 150px;
    border: 2px red solid;

}

.card-1,
.card-2,
.card-3,
.card-4 {
    height: 150px;
    width: 150px;
    background-color: yellow;
    border-radius: 15px;
}

/* SECTION 2 */

.section-2 {
    padding: 100px;
}

.quotation-author {
    text-align: right;
}

/* SECTION 3 */

.section-3 {
    display: flex;
    margin: 50px;
}

.section-3-right {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-self: center;
}

/* FOOTER */

footer {
    text-align: center;
}